services:
  - type: web
    name: synthifai-proxy
    runtime: image
    image:
      url: nilupulmanodya/synthifai-langfuse:latest
    numInstances: 1
    healthCheckPath: /health/liveliness
    autoDeploy: true
    envVars:
      - key: PORT
        value: 4000
      

      # URL to your Langfuse instance
      - key: LANGFUSE_OTEL_HOST
        sync: false
      
      # 1. Langfuse Public Key
      - key: LANGFUSE_PUBLIC_KEY
        sync: false

      # 2. Langfuse Secret Key
      - key: LANGFUSE_SECRET_KEY
        sync: false
        
      # 3. LiteLLM Master Key (Optional but recommended for security)
      - key: LITELLM_MASTER_KEY
        sync: false

      - key: DATABASE_URL
        sync: false

      - key: STORE_MODEL_IN_DB
        value: True
    
    startCommand: "docker/prod_entrypoint.sh --port 4000 --config /app/synthifai_config.yaml"